@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300,400,500,600,700,800,900display=swap');
/* CSS Reset */
*{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     border: none;
     outline: none;
     font-family: 'Poppins', sans-serif;
     text-decoration: none;
}
/* Root Properties */
:root{
     --bg-color: #081b29;
     --main-color: #00abf0;
     --text-color: #333;
     --second-text-color: #555;
     --white-color: #fff;
     --cover-color: linear-gradient(45deg, #00abf0, #006e9a);
     --pages-color: linear-gradient(90deg, #fff, #ddd);
     --border: .13rem solid #00abf0;
     --box-shadow: 0 0 .6rem rgba(0, 0, 0, .2);
}
body{
     display: flex;
     justify-content: center;
     align-items: center;
     min-height: 100vh;
     background-color: var(--bg-color);
     color: var(--text-color);
     overflow: hidden;
}
/* Book */
.wrapper{
     position: relative;
     width: 56rem;
     height: 35rem;
     padding: 2rem;
     perspective: 250rem;
     animation-name: show-animate;
     animation-duration: 2s;
     animation-fill-mode: forwards;
     }
@keyframes show-animate {
     0%, 30%{
          opacity: 0;
          transform: rotate(-20deg);
     }
     100%{
          opacity: 1;
          transform: rotate(0deg);
     }
}
/* Book Pages */
.cover{
     position: absolute;
     width: 50%;
     height: 100%;
     background: var(--cover-color);
     box-shadow: var(--box-shadow);
     border-top-left-radius: .7rem;
     border-bottom-left-radius: .7rem;
     transform-origin: right;
     top: 0;
     left: 0;
}
.cover.cover-left{
     z-index: -1;
}
.cover.cover-right.turn{
     transform: rotateY(180deg);
}
.cover.cover-right{
     z-index: 100;
     transition: transform 1s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.book{
     position: relative;
     width: 100%;
     height: 100%;
     display: flex;
}
.book .book-page{
     position: absolute;
     width: 50%;
     height: 100%;
     background: var(--pages-color);
     box-shadow: 0 0 .6rem rgba(0, 0, 0, 0.6);
     display: flex;
     padding: 2rem;
     perspective: 250rem;
}
.profile-page img{
     max-width: 35%;
     max-height: 35%;
     border: .3rem solid var(--main-color);
     margin-bottom: 1rem;
     border-radius: 50%;
}
.book-page.page-left{
     box-shadow: -.6rem .6rem .6rem rgba(0, 0, 0, .2);
}
.profile-page{
     display: flex;
     flex-direction: column;
     justify-content: center; 
     align-items: center;
}
.profile-page h1{
     font-size: 2rem;
     line-height: 1;
}
.profile-page h3{
     font-size: 1.1rem;
     color: var(--main-color);
}
.profile-page .social-media{
     margin: .6rem 0 .8rem;
}
.profile-page .social-media a{
     display: inline-flex;
     justify-content: center;
     align-items: center;
     width: 2.5rem;
     height: 2.5rem;
     background: transparent;
     border: var(--border);
     border-radius: 50%;
     color: var(--main-color);
     font-size: 1.3rem;
     margin: 0 .2rem;
     margin: .6rem 0 .8rem;
     transition: .5s;
}
.profile-page .social-media a:hover{
     background: var(--main-color);
     color: var(--white-color);
}
.profile-page p{
     text-align: justify;
}
.profile-page .btn-box{
     margin-top: 1.2rem;
}
.btn{
     display: inline-flex;
     justify-content: center;
     align-items: center;
     width: 8.8rem;
     height: 3rem;
     background: var(--main-color);
     border: var(--border);
     border-radius: .3rem;
     font-size: 1rem;
     color: var(--white-color);
     font-weight: 500;
     margin: 0 1rem;
     transition: .5s;
}
.btn:hover{
     background: transparent;
     color: var(--main-color);
}
.btn-box .btn:nth-child(2){
     background: transparent;
     color: var(--main-color);
}
.btn-box .btn:nth-child(2):hover{
     background: var(--main-color);
     color: var(--white-color);
}
.book-page.page-right{
     position: absolute;
     right: 0;
     transform-style: preserve-3d;
     transform-origin: left;
     transition: transform 1s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.book-page.page-right.turn{
     transform: rotateY(-180deg);
}
.book-page .page-front,
.book-page .page-back{
     position: absolute;
     left: 0;
     top: 0;
     width: 100%;
     height: 100%;
     background: var(--pages-color);
     padding: 1.5rem 2rem;
}
.book-page .page-front{
     transform: rotateY(0deg) translateZ(1px);
}
.book-page .page-back{
     transform: rotateY(180deg) translateZ(1px);
}
.title{
     text-align: center;
     margin-bottom: 1rem;
}
.workeduc-box{
     border-left: var(--border);
}
.workeduc-box .workeduc-content {
     position: relative;
     margin-bottom: 1.3rem;
     padding-left: 1.5rem;
}
.workeduc-box .workeduc-content::before{
     content: '';
     position: absolute;
     top: 0;
     width: 1.1rem;
     height: 1.1rem;
     background: var(--main-color);
     border-radius: 50%;
     left: -0.65rem;
}   
.workeduc-content .year{
     color: var(--main-color);
}
.workeduc-content .year i{
     margin-right: .5rem;
}
.number-page{
     position: absolute;
     bottom: 1.2rem;
     left: 50%;
     transform: translateX(-50%);
}
.nextprev-btn{
     position: absolute;
     bottom: 1rem;
     right: 1rem;
     width: 2rem;
     height: 2rem;
     cursor: pointer;
     font-size: 1.2rem;
     color: var(--white-color);
     display: inline-flex;
     justify-content: center;
     align-items: center;
     background: var(--main-color);
     border: var(--border);
     border-radius: 50%;
     box-shadow: var(--box-shadow);
     padding: 1.3rem;
     transition: .5s;
}

.nextprev-btn:hover{
     background: transparent;
     color: var(--main-color);
     transition: .5s;
}
.nextprev-btn.back{
     left: 1rem;
}
.services-box{
     display: flex;
     flex-wrap: wrap;
     gap: .5rem;
}
.services-box .services-content{
     flex: 1 1 10rem;
     border: var(--border);
     border-radius: .5rem;
     padding: .8rem 0rem .8rem;
     text-align: center;
     transition: .3s ease;
}
.services-box .services-content:hover{
     box-shadow: var(--box-shadow);
}
.services-content i{
     font-size: 1.3rem;
     color: var(--main-color);
}
.services-content p{
     font-size: 14px;
     padding-top: 1rem;
}
.page-3{
     padding: 0.3rem !important;
}
.services-content .btn{
     width: 8rem;
     height: 2.5rem;
     margin-top: 1rem;
}
.skills-box{
     display: flex !important;
     flex-wrap: wrap;
     gap: 1.5rem;
}
.skills-box .skills-content{
     flex: 1 1 20rem;
}
.skills-content h3{
     font-size: 1.5rem;
     line-height: 1;
     margin-bottom: 0.8rem;
}
.skills-content .content{
     display: flex;
     flex-wrap: wrap;
     gap: 0.5rem;
}
.skills-content .content span{
     display: inline-flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     width: 5rem;
     height: 3.5rem;
     border: var(--border);
     border-radius: .3rem;
     font-weight: 600;
     transition: .3s ease-in-out;
}
.skills-content .content span:hover{
     box-shadow: var(--box-shadow);
}
.skills-content .content span i{
     font-size: 2rem;
     color: var(--main-color);
}
.project-box .img-box{
     display: flex;
     width: 100%;
     border: var(--border);
     border-radius: .3rem;
     overflow: hidden;
}
.img-box img{
     width: 100%;
     object-fit: cover;
     transition: .5s ease-in-out;
}
.project-box .img-box:hover img{
     transform: scale(1.1);
}

.project-box .info-box{
     margin: 1rem 0 1.5rem;
}
.info-box .info-title{
     display: flex;
     justify-content: space-between;
     align-items: center;
     margin-bottom: 1rem;
}
.project-box h3{
     font-size: 1.3rem;
}
.info-title a{
     display: flex;
     align-items: center;
     color: var(--main-color);
}
.info-box a i{
     margin-left: .3rem;
}
.info-box p:nth-of-type(1){
     font-weight: 600;
}
.project-box .btn-box{
     display: flex;
     justify-content: center;
}
.project-box .btn-box .btn{
          margin: 0 1.1rem;
}

.contact-box{
     text-align: center;
}
.contact-box .field{
     width: 100%;
     background: transparent;
     border: var(--border);
     border-radius: .3rem;
     padding: .8rem 1rem;
     font-size: 1rem;
     color: var(--text-color);
     margin-bottom: 1rem;
}
.contact-box .field::placeholder{
     color: var(--text-color);
}
.contact-box .btn{
     cursor: pointer;
}
.back-profile{
     position: absolute;
     bottom: 1.2rem;
     right: 2rem;
     width: 2rem;
     height: 2rem;
     background: transparent;
     border: var(--border);
     border-radius: .3rem;
     font-size: 1rem;
     color: var(--main-color);
     display: inline-flex;
     justify-content: center;
     align-items: center;
     transition: .5s;
}
.back-profile:hover{
     background: var(--main-color);
     color: var(--white-color);
}
.back-profile p{
     position: absolute;
     top: 0;
     left: 50%;
     transform: translateX(-50%) scale(.5);
     font-size: 1rem;
     opacity: 0;
     transition: .5s ease;
     color: var(--main-color);
}
.back-profile:hover p{
     opacity: 1;
     transform: translateX(-50%) scale(1);
     top: -1.8rem;
}