@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300,400,500,600,700,800,900display=swap');
/* CSS Reset */
*{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     border: none;
     outline: none;
     font-family: 'Poppins', sans-serif;
     text-decoration: none;
}
/* html,body reset */
html,body{
     width: 100%;
     height: 100vh;
}

/* Root Properties */
:root{
     --bg-color: #081b29;
     --primary-color: #00abf0;
     --primary-text-color: #333;
     --secondary-text-color: #555;
     --white-color: #fff;
     --cover-color: linear-gradient(45deg, #00abf0, #006e9a);
     --pages-color: linear-gradient(90deg, #fff, #ddd);
     --border: .13rem solid #00abf0;
     --box-shadow: 0 0 .6rem rgba(0, 0, 0, .2);
}
body{
     display: flex;
     justify-content: center;
     align-items: center;
     min-height: 100vh;
     background-color: var(--bg-color);
     color: var(--primary-text-color);
}
/* a{
     text-decoration: none;
     color: black;
} */
/* Book */
.wrapper{
     position: relative;
     width: 80%;
     height: 97%;
     padding: 2rem;
}
/* Book Pages */
.cover{
     position: absolute;
     width: 50%;
     height: 100%;
     top: 0;
     left: 0;
     background: var(--cover-color);
     box-shadow: var(--box-shadow);
     border-top-left-radius: .7rem;
     border-bottom-left-radius: .7rem;
     transform-origin: right;
}
.cover-left{
     z-index: -1;
}
.cover-right{
     transform: rotateY(180deg);
}
.book{
     position: relative;
     width: 100%;
     height: 100%;
     display: flex;
}
.book-page{
     position: absolute;
     width: 50%;
     height: 100%;
     background: var(--pages-color);
     box-shadow: var(--box-shadow);
     display: flex;
     padding: 2rem;
}

.profile-page{
     display: flex;
     flex-direction: column;
     justify-content: center; 
     align-items: center;
     text-align: center;
}
.profile-page p{
     text-align: justify;
}
.profile-page img{
     width: 35%;
     height: 35%;
     border-radius: 50%;
     margin-bottom: 1rem;
     margin-top: 0rem;
     border: .3rem solid var(--primary-color);
}
.profile-page h1{
     font-size: 2rem;
     line-height: 1;
}
.profile-page h3{
     font-size: 1rem;
     color: var(--primary-color);
     margin-top: 1rem;
     margin-bottom: 1rem;
}
.social-media-cards a{
     display: inline-flex;
     width: 2.5rem;
     height: 2.5rem;
     background: transparent;
     border: var(--border);
     border-radius: 50%;
     text-decoration: none !important;
     color: var(--primary-color);
     justify-content: center;
     align-items: center;
     margin: 0 .2rem;
}
.social-media-cards{
     margin: 0rem 0 .8rem;
}
.social-media-cards a:hover{
     background: var(--primary-color);
     color: var(--white-color);
     transition: .3s;
}
.social-media-cards a:not(:hover){
     background: var(--white-color);
     color: var(--primary-color);
     transition: .3s;
}
.btn{
     display: inline-flex;
     justify-content: center;
     align-items: center;
     width: 10rem;
     height: 3rem;
     background: var(--primary-color);
     border: var(--border);
     border-radius: .3rem;
     font-size: 1rem;
     color: var(--white-color);
     font-weight: 500;
     margin: 0 1rem;
     transition: .5s;
}
.btn-box{
     margin-top: 1.3rem;
}
.contact-me{
     background: transparent;
     color: var(--primary-color);
}
.contact-me:hover{
     background: var(--primary-color);
     color: var(--white-color);
     transition: .3s;
}
.download-cv:hover{
     background: transparent;
     color: var(--primary-color);
     transition: .3s;
}
.page-right{
     position: absolute;
     right: 0;
     padding: 2rem 2rem 0 2rem !important;
     transform-style: preserve-3d;
     transform-origin: left;
     display: block !important;
}
.turn{
     transform: rotateY(-180deg);
}
.workeduc-box{
     border-left: var(--border);
}
.workeduc-content{
     position: relative;
     padding-left: 1.6rem;
     margin-bottom: 1.2rem;
}
.workeduc-content h3{
     margin-top: .5rem;
}
.workeduc-content p{
     margin-top: .5rem;
     text-align: justify;
     color: var(--secondary-text-color);
}
.workeduc-content::before{
     content: '';
     position: absolute;
     width: 1.1rem;
     height: 1.1rem;
     background: var(--primary-color);
     border-radius: 50%;
     left: -0.65rem;
}
.page-back{
     position: absolute;
     right: 0;
     left: 0;
     width: 100%;
     height: 100%;
     top: 0;
     padding: 2rem;
     background: var(--pages-color);
     transform: rotateY(180deg) translateZ(1px);
}
.page-front{
     transform: rotateY(0deg) translateZ(1px);
}
.title{
     text-align: center;
     margin-bottom: 1rem;
     display: block;
}

.year{
     color: var(--primary-color);
}
.year i{
     margin-right: .4rem;
}
.page-number{
     position: absolute;
     bottom: 0.8rem;
     display: flex;
     justify-content: center;
     width: 100%;
     font-size: 1rem;
     margin: 0 auto;
     color: var(--secondary-text-color);
}
.nextprev-btn{
     position: absolute;
     bottom: 0.4rem;
     right: 0rem;
     width: 2.5rem;
     height: 2.5rem;
     background: var(--primary-color);
     border: var(--border);
     border-radius: 50%;
     display: flex;
     justify-content: center;
     align-items: center;
     color: var(--white-color);
     cursor: pointer;
     box-shadow: var(--box-shadow);
     transition: .3s;
}
.nextprev-btn:hover{
     background: white;
     border: 1px solid var(--primary-color);
     color: var(--primary-color);
}
.back{
     left: 1.5rem;
}
.service-box{
     display: flex;
     flex-wrap: wrap;
     /* gap: 0.3rem; */
}
.service-content{
     flex: 1 1 10rem;
     border: var(--border);
     border-radius: .5rem;
     padding: 1rem 0.3rem;
     text-align: center;
     transition: .3s ease;
     gap: 8rem;
}
.service-content:nth-child(2){
     margin-left: .2rem;
}
.service-content:nth-child(3){
     margin-top: .1rem;
}
.service-content p{
     text-align: justify;
}
.service-content i{
     font-size: 1.3rem;
     color: var(--primary-color);
}
.btn:hover{
     background: transparent;
     color: var(--primary-color);
     transition: .3s;
}
.service-content:hover{
     box-shadow: var(--box-shadow);
     transition: .3s;
}
.number-3{
     bottom: 0;
     display: block;
     margin: -10% auto;
     text-align: center;
}
.btn-3{
     top: 103%;
     bottom: 0 !important;
}